@import '~antd/lib/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  background-color: #fbfbfd;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}


/*
  Custom Changes
 */

.antd-pro-components-sider-menu-index-logo {
  background: transparent !important;
}

.ant-menu {
  padding: 16px 16px !important;
  font-weight: 600 !important;
  font-size: 16px !important;

  .ant-menu-submenu-title {
    padding-left: 8px !important;
    color: #05666d !important;
    i {
      background: #05666d !important;
    }
  }

  a {
    color: #fff !important;
  }

  .ant-menu-item {
    height: 44px !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    padding-top: 2px !important;
    padding-left: 16px !important;
    i {
      font-size: 18px !important;
    }
  }

  .ant-menu-item-selected {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px;

    a {
      color: #05666d !important;
    }
  }
}

.ant-menu-sub {
  padding: 0 !important;
  box-shadow: none !important;
}

.ant-btn {
  min-width: 130px;
  min-height: 45px;
  color: rgb(160, 155, 155);
  font-weight: 600;
  border: 1px solid rgb(219, 217, 217);
  box-shadow: 0 3px 5px rgb(219, 217, 217);

  &:hover {
    color: inherit;
    border: 1px solid rgb(219, 217, 217);
    box-shadow: 0 3px 5px rgb(219, 217, 217);
    opacity: 0.7;
    transition: none;
  }

  &.ant-btn-primary {
    color: #fff;
    background-color: #36cfc9;
    border: none;
    box-shadow: 1px 4px 8px 0 rgb(53, 170, 166);
  }
}

.ant-table-column-title {
  font-weight: 600 !important;
  font-size: 15px !important;
}

.ant-page-header-content-view {
  display: none !important;
}

.ant-page-header {
  padding-bottom: 10px !important;
}

.ant-table-wrapper {
  border-bottom: none !important;
}

.ant-table-pagination.ant-pagination {
  float: none !important;
  padding-left: 15px;
}

.learn-how-enabled {
  min-height: 50vh;
  padding: 0;
}
